   *{
    font-family: cursive;
    background-color: crimson;
   }
   
   table {
       width: 100%;
       border-collapse: collapse;
   }

   th,
   td {
       border: 1px solid #000000;
       padding: 8px;
       text-align: left;
       background-color: lightgrey;
   }

   th {
       background-color: #949494;
   }

   .highlight {
       background-color: #b1b1b1c2;
   }

   h2 {
    color:crimson;
    background-color: black;
   }

   h1 {
    font-family: cursive;
   }

.link-example {
    color: blue;
    text-decoration: underline;
  }
.link-example:hover {
  color: red;
  text-decoration: none;
  font-weight: bold;
}
.link-example:active {
  color: green;
  text-decoration: none;
}
.link-example:visited {
  color: purple;
  text-decoration: none;
}
